.post_card {
    background-color: #141414;
    overflow: hidden; /* はみ出した部分を隠す */
    border-radius: 5px;
    border-color: #141414;
    padding: 10px;
    margin: 5px;
}

.post_card:hover{
    background-color: #222222;
}

.post_card_content{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.PostGroup {
    font-size: 160%;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}
.postspage{
    padding: 5px;
}
.created_at {
    color: #999999;
    font-size: 80%;
}
.content{
    color: #999999;
    font-size: 10px;
}
